@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  /* colors */
  --clr-hue: 230;
  /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
  --clr-ntrl-min: #FFF;
  --clr-ntrl-max: #000;
  --clr-primary: hsl(var(--clr-hue), 69%, 61%);
  --clr-primary-dk: hsl(var(--clr-hue), 57%, 53%);
  --clr-primary-ltr: hsl(var(--clr-hue), 92%, 85%);
  --clr-title: hsl(var(--clr-hue), 8%, 15%);
  --clr-text: hsl(var(--clr-hue), 8%, 45%);
  --clr-title-lt: hsl(var(--clr-hue), 8%, 65%);
  --clr-input: hsl(var(--clr-hue), 70%, 96%);
  --clr-body: hsl(var(--clr-hue), 60%, 99%);
  --clr-container: var(--clr-ntrl-min);

  /* fonts */
  --ff-body: 'Poppins', sans-serif;
  --fs-big: 2rem;
  --fs-h1: 1.5rem;
  --fs-h2: 1.25rem;
  --fs-h3: 1.125rem;
  --fs-base: .938rem;
  --fs-milli: .813rem;
  --fs-micro: .75rem;
  --fw-medium: 500;
  --fw-semi-bold: 600;

  /* margin */
  --m-0-25: .25rem;
  --m-0-5: .5rem;
  --m-0-75: .75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;

  --header-height: 3rem;

}

@media screen and (min-width: 968px) {
  :root {
    --fs-big: 3rem;
    --fs-h1: 2.25rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-base: 1rem;
    --fs-milli: .875rem;
    --fs-micro: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--ff-body);
  font-size: var(--fs-base);
  background-color: var(--clr-body);
  color: var(--clr-text);
}

h1, h2, h3, h4 {
  color: var(--clr-title);
  font-weight: var(--fw-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* reusable classes */
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--fs-h1);
}

.section__subtitle {
  display: block;
  font-size: var(--fs-micro);
  margin-bottom: var(--m-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* layout */
.container {
  max-width: 768px;
  margin-left: var(--m-1-5);
  margin-right: var(--m-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--clr-body);
}

/* navbar */
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--clr-title);
  font-weight: var(--fw-medium);
}

.nav__logo:hover {
  color: var(--clr-primary);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--clr-primary);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--clr-body);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-micro);
  color: var(--clr-title);
  font-weight: var(--fw-medium);
}

.nav__link:hover {
  color: var(--clr-primary);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--clr-primary);
}

.nav__close:hover {
  color: var(--clr-primary-dk);
}

.show-menu {
  bottom: 0;
}

/* home */

.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--clr-primary);
}

.home__social-icon:hover {
  color: var(--clr-primary-dk);
}

.home__blob {
  width: 200px;
  fill: var(--clr-primary);
}

.home__blob-img {
  width: 170px;
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--fs-big);
}

.home__subtitle {
  font-size: var(--fs-h3);
  color: var(--clr-text);
  font-weight: var(--fw-medium);
  margin-bottom: var(--m-0-75);
}

.home__description {
  margin-bottom: var(--m-2);
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--clr-primary);
  transition: .3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--fs-micro);
  color: var(--clr-title);
  font-weight: var(--fw-medium);
  margin-right: var(--m-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

/* buttons */
.button {
  display: inline-block;
  background-color: var(--clr-primary);
  color: var(--clr-ntrl-min);
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--fw-medium);
}

.button:hover {
  background-color: var(--clr-primary-dk);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--m-0-5);
  transition: .3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
} 