@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  /* colors */
  --clr-hue: 230;
  /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
  --clr-ntrl-min: #FFF;
  --clr-ntrl-max: #000;
  --clr-primary: hsl(var(--clr-hue), 69%, 61%);
  --clr-primary-variant: hsl(var(--clr-hue), 69%, 61%);
  --clr-primary-dk: hsl(var(--clr-hue), 57%, 53%);
  --clr-primary-ltr: hsl(var(--clr-hue), 92%, 85%);
  --clr-title: hsl(var(--clr-hue), 8%, 15%);
  --clr-text: hsl(var(--clr-hue), 8%, 45%);
  --clr-text-lt: hsl(var(--clr-hue), 8%, 65%);
  --clr-input: hsl(var(--clr-hue), 70%, 96%);
  --clr-body: hsl(var(--clr-hue), 60%, 99%);
  --clr-container: var(--clr-ntrl-min);
  --clr-scroll-bar: hsl(var(--clr-hue), 12%, 90%);
  --clr-scroll-thumb: hsl(var(--clr-hue), 12%, 80%);

  /* fonts */
  --ff-body: 'Poppins', sans-serif;
  --fs-big: 2rem;
  --fs-h1: 1.5rem;
  --fs-h2: 1.25rem;
  --fs-h3: 1.125rem;
  --fs-base: .938rem;
  --fs-milli: .813rem;
  --fs-micro: .75rem;
  --fw-medium: 500;
  --fw-semi-bold: 600;

  /* margin */
  --m-0-25: .25rem;
  --m-0-5: .5rem;
  --m-0-75: .75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;

  --header-height: 3rem;

}

/* dark theme */

body.dark-theme {
  --clr-primary-variant: hsl(var(--clr-hue), 30%, 8%);
  --clr-title: hsl(var(--clr-hue), 8%, 95%);
  --clr-text: hsl(var(--clr-hue), 8%, 75%);
  --clr-input: hsl(var(--clr-hue), 29%, 16%);
  --clr-body: hsl(var(--clr-hue), 28%, 12%);
  --clr-container: hsl(var(--clr-hue), 29%, 16%);
  --clr-scroll-bar: hsl(var(--clr-hue), 12%, 48%);
  --clr-scroll-thumb: hsl(var(--clr-hue), 12%, 36%);
}

/* button dark / light */
.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--clr-title);
  margin-right: var(--m-1);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--clr-primary);
}

/* base */
@media screen and (min-width: 968px) {
  :root {
    --fs-big: 3rem;
    --fs-h1: 2.25rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-base: 1rem;
    --fs-milli: .875rem;
    --fs-micro: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--ff-body);
  font-size: var(--fs-base);
  background-color: var(--clr-body);
  color: var(--clr-text);
}

h1, h2, h3, h4 {
  color: var(--clr-title);
  font-weight: var(--fw-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* reusable classes */
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--fs-h1);
}

.section__subtitle {
  display: block;
  font-size: var(--fs-micro);
  margin-bottom: var(--m-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* layout */
.container {
  max-width: 768px;
  margin-left: var(--m-1-5);
  margin-right: var(--m-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--clr-body);
}

/* navbar */
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--clr-title);
  font-weight: var(--fw-medium);
}

.nav__logo:hover {
  color: var(--clr-primary);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--clr-primary);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--clr-body);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-micro);
  color: var(--clr-title);
  font-weight: var(--fw-medium);
}

.nav__link:hover {
  color: var(--clr-primary);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--clr-primary);
}

.nav__close:hover {
  color: var(--clr-primary-dk);
}

.show-menu {
  bottom: 0;
}

.active-link {
  color: var(--clr-primary);
}

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/* home */
.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--clr-primary);
}

.home__social-icon:hover {
  color: var(--clr-primary-dk);
}

.home__blob {
  width: 200px;
  fill: var(--clr-primary);
}

.home__blob-img {
  width: 170px;
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--fs-big);
}

.home__subtitle {
  font-size: var(--fs-h3);
  color: var(--clr-text);
  font-weight: var(--fw-medium);
  margin-bottom: var(--m-0-75);
}

.home__description {
  margin-bottom: var(--m-2);
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--clr-primary);
  transition: .3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--fs-micro);
  color: var(--clr-title);
  font-weight: var(--fw-medium);
  margin-right: var(--m-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

/* buttons */
.button {
  display: inline-block;
  background-color: var(--clr-primary);
  color: var(--clr-ntrl-min);
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--fw-medium);
}

.button:hover {
  background-color: var(--clr-primary-dk);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--m-0-5);
  transition: .3s;
}

.button--white {
  background-color: #FFF;
  color: var(--clr-primary);
}

.button--white:hover {
  background-color: #FFF;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: .75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--clr-primary);
}

.button--link:hover {
  background-color: transparent;
  color: var(--clr-primary-dk);
}

/* about */
.about__img {
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
}

.about__description {
  text-align: center;
  margin-bottom: var(--m-2-5);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--m-2-5);
}

.about__info-title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-title);
}

.about__info-name {
  font-size: var(--fs-milli);
}

.about__info-title,
.about__info-name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

/* skills */
.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--m-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--clr-primary);
}

.skills__icon {
  margin-right: var(--m-0-75);
}

.skills__list {
  grid-template-columns: 1fr 1fr;
}

.skills__title {
  font-size: var(--fs-h3);
}

.skills__subtitle {
  font-size: var(--fs-micro);
  color: var(--clr-text-lt);
}

.skills__arrow {
  margin-left: auto;
  transition: .4s;
}

.skills__titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--m-0-5);
}

.skills__name {
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  text-align: center;
}

.skills__info {
  text-align: center;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--m-2-5);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/* qualification */
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--m-2);
}

.qualification__button {
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
  cursor: pointer;
}

.qualification__button:hover {
  color: var(--clr-primary);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--m-0-25);
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title {
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--fs-micro);
  margin-bottom: var(--m-1);
}

.qualification__calendar {
  font-size: var(--fs-micro);
  color: var(--clr-text-lt);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--clr-primary);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--clr-primary);
  transform: translate(6px, -7px);
}

.qualification [data-tab-content] {
  display: none;
}

.qualification__active[data-tab-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: var(--clr-primary);
}

/* services */

.services__container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.services__content {
  position: relative;
  background-color: var(--clr-container);
  padding: 3.5rem .5rem 1.25rem 1.5rem;
  border-radius: .25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  transition: .3s;
}

.services__content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.services__icon {
  display: block;
  font-size: 1.5rem;
  color: var(--clr-primary);
  margin-bottom: var(--m-1);
}

.services__title {
  font-size: var(--fs-h3);
  margin-bottom: var(--m-1);
  font-weight: var(--fw-medium);
}

.services__button {
  cursor: pointer;
  font-size: var(--fs-milli);
}

.services__button:hover .button__icon {
  transform: translateX(.25rem);
}

.services__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.services__modal-content {
  position: relative;
  background-color: var(--clr-container);
  padding: 1.5rem;
  border-radius: .5rem;
}

.services__modal-services {
  row-gap: 1rem;
}

.services__modal-service {
  display: flex;
}

.services__modal-title {
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
  margin-bottom: var(--m-1-5);
}

.services__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--clr-primary);
  cursor: pointer;
}

.services__modal-icon {
  color: var(--clr-primary);
  margin-right: var(--m-0-25);
}

.active-modal {
  opacity: 1;
  visibility: visible;
}

/* portfolio */

.portfolio__container {
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
}

.portfolio__img {
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio__title {
  font-size: var(--fs-h3);
  margin-bottom: var(--m-0-5);
  ;
}

.portfolio__description {
  margin-bottom: var(--m-0-75);
}

.portfolio__button:hover .button__icon {
  transform: translateX(.5rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--clr-primary);
}

.swiper-button-prev {
  left: -.5rem;
}

.swiper-button-next {
  right: -.5rem
}

.swiper-horizontal>.swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--clr-primary);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets {
  outline: none;
}

/* project in mind */
.project {
  text-align: center;
}

.project__bg {
  background-color: var(--clr-primary-variant);
  padding-top: 3rem;
}

.project__title {
  font-size: var(--fs-h2);
  margin-bottom: var(--m-0-75);
}

.project__description {
  margin-bottom: var(--m-1-5);
}

.project__title,
.project__description {
  color: var(--clr-ntrl-min);
}

.project__img {
  width: 232px;
  justify-self: center;
}

/* testimonial */
.testimonial__data,
.testimonial__header {
  display: flex;
}

.testimonial__data {
  justify-content: space-between;
  margin-bottom: var(--m-1);
}

.testimonial__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: var(--m-0-75);
}

.testimonial__name {
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
}

.testimonial__client {
  font-size: var(--fs-milli);
  color: var(--clr-text-lt);
}

.testimonial__description {
  margin-bottom: var(--m-2-5);
}

.testimonial__icon-star {
  color: var(--clr-primary);
}

.swiper .swiper-pagination-testimonial {
  bottom: 0;
}

/* contact */

.contact__container {
  row-gap: 3rem;
}

.contact__information {
  display: flex;
  margin-bottom: var(--m-2);
}

.contact__icon {
  font-size: 2rem;
  color: var(--clr-primary);
  margin-right: var(--m-0-75);
}

.contact__title {
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
}

.contact__subtitle {
  font-size: var(--fs-milli);
  color: var(--clr-text-lt);
}

.contact__content {
  background-color: var(--clr-input);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}

.contact__label {
  font-size: var(--fs-micro);
  color: var(--clr-title);
}

.contact__input {
  width: 100%;
  background-color: var(--clr-input);
  color: var(--clr-text);
  font-family: var(--ff-body);
  font-size: var(--fs-base);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}

/* footer */
.footer {
  padding-top: 2rem;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: var(--clr-primary-variant);
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--fs-h1);
  margin-bottom: var(--m-0-25);
}

.footer__subtitle {
  font-size: var(--fs-milli);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover {
  color: var(--clr-primary-ltr);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--m-1-5);
}

.footer__social:hover {
  color: var(--clr-primary-ltr);
}

.footer__copy {
  font-size: var(--fs-micro);
  text-align: center;
  color: var(--clr-text-lt);
  margin-top: var(--m-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: var(--clr-ntrl-min);
}

/* scroll up */
.scroll-up {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--clr-primary);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scroll-up:hover {
  background-color: var(--clr-primary-dk);
}

.scroll-up__icon {
  font-size: 1.5rem;
  color: var(--clr-ntrl-min);
}

.show-scroll {
  bottom: 5rem;
}

/* scroll-bar */
::-webkit-scrollbar {
  width: .6rem;
  background-color: var(--clr-scroll-bar);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-scroll-thumb);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-text-lt);
}